:root{
    --theme-black-text-color:#030f21;
    --theme-white-text-color:#fff;
    --theme-grey-text-heading:#7c8593;
    --theme-grey-text-paragraph:#7c8593;
    --theme-transperant-backgroung-color:transparent;
    --theme-black-button-border:#030f21;
    --theme-black-border:#e7e7e7;
    --theme-blue-text-color:#2150f5;
    --theme-bg-light:#f9f9fa;
    --theme-bg-black:#000;
    --theme-footer-body-bg:#222524;
}